:root {

    color: #db0000;
    color: #000000;
    color: #ffffff;
    color: #564d4d;
    color: #831010;
}

* {
    font-family: Helvetica, sans-serif;
}

body {

    background: #000000;

}

/* HEADER */

.navbar {

    padding: 10px;
    background: linear-gradient(to bottom,rgba(0,0,0,.7) 10%,rgba(0,0,0,0));
}



.navbar-brand h2 {
    font-weight: bolder;
    color: #db0000;
    font-size: 40px;
}

.navbar-nav {
    margin-left: 50px;
}

#nav-text {
    color: #e5e5e5;
    font-weight: 100;
}

#nav-text:hover {
    color: #b3b3b3;
}

/*--------- END HEADER ------------ */

/*----------- MAIN ------------ */

/*--------Featured---------*/

#featured-container {
    background-image: url(/images/featured/cod_warzone_featured.jpg);
    height: 600px;
    
}

#featured-info {


    margin: 200px 0 0 50px;
    color: #ffffff;
    text-shadow: 0px 0px 10px rgba(0,0,0,.7);
    
}

#featured-info h2 {

    margin-bottom: 20px;

}
#featured-info p {

    margin-bottom: 20px;
}

#featured-button-1 {
    background-color: #ffffff;
    color: #000000;
    padding: 7px 40px;
    border: none;
    border-radius: 4px;
    margin-right: 6px;
    font-weight:600;
}
#featured-button-2 {
    background-color:  rgba(109,109,110,0.7);
    color: #ffffff;
    padding: 7px 50px;
    border: none;
    border-radius: 4px;
    
}

#featured-button-1:focus {
    border: 2px solid white;
    box-shadow: none;
}

#featured-button-1:hover {
    background-color:rgba(255,255,255,0.75);
}

#featured-button-2:hover {
    background-color:rgba(109,109,110,0.4);
}

/*--------End Featured---------*/

/*--------First Rec---------*/

.box-filme {
    height: 200%;
    display: block;
}


/*------------ END MAIN ------------ */


/********** Large devices only **********/
@media (min-width: 1200px) {

}

/********** Medium devices only **********/
@media (min-width: 992px) and (max-width: 1199px) {

}

/********** Small devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
}




/********** Extra small devices only **********/
@media (max-width: 767px) {

    #header-container {
        justify-content: center;
    }

    .navbar-nav {
        flex-direction: row;
        justify-content: space-evenly;
    }

    #featured-button-1 {
        margin-bottom: 10px;
    }

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 575px) {



    #header-container {
        justify-content: center;
    }
    
    .navbar-nav {
        flex-direction: row;
        justify-content: space-evenly;
        font-size: 60%;
        text-align: center;
    }

    #featured-container row {
        width: auto;
    }
    

    #featured-info {

        width: 300px;
        
    }

}
